* {
  margin: 0.5em;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  background: linear-gradient(to right, rgba(227, 139, 168, 0.849), rgb(101, 160, 195));
  /* background-image: url('maths-image.jpg'); */
}
.table {
  background: linear-gradient(to right, #be84c7, #1c70b56c);
  border-radius: 5px;
  box-shadow: 0 0.5rem 1rem rgba(7, 58, 94, 0.943);
}
.table th,
.table td {
  border: 1px;
}
.main {
  max-width: 720px;
  margin: auto;
}
.heading {
  text-align: center;
}
.question {
  text-align: justify;
}
.divider-line {
  width: 100%;
  margin: 0;
  left: 0;
  background-color: rgba(18, 16, 15, 0.943);
  color: rgba(18, 16, 15, 0.943);
  height: 2px;
  border-width: 0;
}
button:hover {
  box-shadow: 0 0.5rem 1rem rgba(7, 58, 94, 0.943);
}
input:hover {  
  box-shadow: 0 0.5rem 1rem rgba(7, 58, 94, 0.943);
}
#input-txt {
  border-color: rgba(217, 13, 13, 0.943);
  border-radius: 5px;
  width: 45%;
  height: 50px;
  text-align: Center;
  font-size: 24px;
}
#input-num {
  border-color: rgba(217, 13, 13, 0.943);
  border-radius: 5px;
  width: 20%;
  height: 50px;
  text-align: center;
  font-size: 24px;
}
#input-num1 {
  border-color: rgba(217, 13, 13, 0.943);
  border-radius: 5px;
  width: 20%;
  height: 50px;
  text-align: center;
  font-size: 24px;
}
#input-length {
  border-color: rgba(217, 13, 13, 0.943);
  border-radius: 5px;
  width: 20%;
  height: 50px;
  text-align: center;
  font-size: 24px;
}
#label-right {
  padding: 9px;
}
#output-txt {
  border-color: rgba(217, 13, 13, 0.943);
  border-radius: 5px;
  width: 96%;
  height: 50px;
  text-align: center;
  font-size: 30px;
}
